@import "//at.alicdn.com/t/font_2410206_vuzkjonf4s9.css";

@import "//at.alicdn.com/t/c/font_3638201_4hnis6riypv.css";


.vp-blog-hero.fullscreen > .vp-blog-mask {
  background: url('https://shaohui-jin.github.io/picx-images-hosting/blog/Background/white-001.4qr310isuh.webp') center center / cover no-repeat !important;
}

html[data-theme="dark"] {
  .vp-blog-hero.fullscreen > .vp-blog-mask {
    background: url('https://shaohui-jin.github.io/picx-images-hosting/blog/Background/black-001.ibvr6sk0w.webp') center center / cover no-repeat !important;
  }
}

li :has(.router-link-active.router-link-exact-active.nav-link.active.sidebar-link.sidebar-page.active) {
  background: var(--bg-color-secondary);
}

.vp-article-excerpt div[class*=language-] pre {
  margin: 0;
  padding: 0.85rem;
  width: max-content;
}
//.sidebar-link:hover {
//  background: var(--bg-color-secondary);
//}


